<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home Page</title>
</head>
<body>

    <h1>Home Page</h1>

    <ul>
        <li>item 1: Car</li>
        <li>item 1: Car</li>
        <li>item 1: Car</li>
    </ul>

    {{ items }}

</body>
</html>
