<!DOCTYPE html>
<html lang="en">
<head>
    <title>New Invoice Page</title>
</head>
<body>

    <h1>New Invoice Page</h1>

    <form action="{{ save_url }}" method="post">

        {% for item in results %}
            <label>
                <input type="checkbox" name="items" value={{ item.id }}>
            </label>{{ item.id }} - {{ item.description }}<br>
        {% endfor %}

        <div class="form-group">
            <button type="submit" name="form.submitted" value="Save" class="btn btn-default">Save</button>
        </div>

    </form>

</body>
</html>